<h1><%= @soup.name %></h1>

<% if @soup.featured? %>
    <p>This delicious soup is featured.</p>
  <% else %>
    <p>This soup sucks!</p>
<% end %>

<% if params[:admin] == "true" %>
  <%= link_to "Toggle featured", toggle_featured_path(@soup)%>
<% end %>
